.hakse {
  .site-title {
    font-weight: bold;
    font-size: 150%;
  }
  .navbar-item img {
    max-height: 2.5rem;
  }
  @include until(380px)  {
    .truncate {
      font-size: 95%;
      max-width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .content {
    width: 100%;
    overflow-x: auto;
  }
  
  .highlight pre {
    padding: 1.25rem 0.25rem;
  }
  
  .has-menu-current {
    text-decoration: underline;
  }
  .is-menu-current {
    text-transform: uppercase;
  }
  
  .hakse-hero {
    border: 1px solid red;
    img {
      // border: 1px solid blue;
      padding-right: 5rem;
    }
  }
  
  .hero {
    margin-bottom: 5rem;
  }
  .crumb {
    margin-right: .5rem;
  }
  
  .box {
    margin: .5rem .25rem;
  }
  
}

body > .main {
  min-height: 100vh;
  height: 100%;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: block;
    content: " ";
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}